body{
    background-image:url("https://wallup.net/wp-content/uploads/2018/09/30/199516-nature-chameleons-artwork-reptiles.jpg");
    background-size: cover;
}
h1{
    font-family: 'Carter One', cursive;
    text-align: center;
}
/* Card Tiles */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 300px;
  border: 2px solid black;
  background-color: #0DB043;
  font-size: 25 px;
  text-align: center;
  margin: 0px 20px 20px 20px;
  
}

.cardTiles{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card:hover {
  background-color: green;
}

.container {
  padding: 2px 16px;
}

.cardImg{
  width: 100%;
}

.newOrderSelect{  
  color: black;  
  font-size: 20px;  
  }  

/* SOCIAL MEDIA */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 35%;
    color: black;
    background: #3B5998;
    color: white;
    margin: 5px;
  }
.Logo{
    height: 75%;
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0px;
}
/* GRID CSS */
.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 2.3fr 0.7fr;
    grid-template-rows: 0.5fr 1.6fr 0.9fr 1fr;
    gap: 1px 10x;
    grid-template-areas: "Social-Media Logo Log-In" "Nav-bar Records ." "Nav-bar News ." "Nav-bar Site-Updates .";
  }
  
  .Logo { grid-area: Logo; }
  
  .Records { grid-area: Records; }
  .newInfo { grid-area: Records; }
  
  .News { grid-area: News; }
  
  .Site-Updates { grid-area: Site-Updates; }
  
  .Log-In { grid-area: Log-In; 
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  }
  
  .Nav-bar { grid-area: Nav-bar; }
  
  .Social-Media { grid-area: Social-Media; }

/* Nav Bar */
.navigation {
    width: 50%;
  }
  
  .mainmenu, .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
 
  .mainmenu a {
    display: block;
    background-color: #0DB043;
    text-decoration: none;
    border: 2px solid black; 
    padding: 10px;
    color: black;
  }
  
  .mainmenu a:hover {
      background-color: green;
  }
  
  .mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
  }
  
  .submenu a {
    background-color: #0DB043;
  }
  
  .submenu a:hover {
    background-color: green;
  }
  
  .submenu {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
  }

  /* Log In*/
.login{  
    width: 50px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  
h2{  
text-align: center;  
color: #277582;  
padding: 20px;  
}  
label{  
color: #0DB043;  
font-size: 17px;  
}  
#Uname{  
width: 100px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#Pass{  
width: 100px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: #0DB043;  


}  
span{  
color: white;  
font-size: 17px;  
}  
a{  
text-decoration: none;
}  